
{% extends "base.html" %}

{% block content %}
<article class="article" itemscope itemtype="http://schema.org/BlogPosting">

  <h1 class="article-title" itemprop="name headline">
    {{ article.title }}
  </h1>

  
  <div class="article-metadata">
    <span>
      Escrito por <strong>{{ AUTHOR }}</strong> em
    </span>
	
    <time datetime="{{ article.date.isoformat() }}">
	  {{ article.date.strftime('%d/%m/%Y') }}
    </time>
	
	<div class="article-tags">
	  {% for tag in article.tags %}
      <a href="{{ SITEURL }}/tag/{{ tag.slug }}.html">#{{ tag.name }}</a>
	  {% endfor %}
	</div>
  </div>

  
  <hr class="article-division">
  
  {{ article.content }}

 
  {% include "analytics.html" %}
  
</article>
{% endblock %}
