
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" >
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

{% if page.title %}
   <meta property="og:type" content="article" >
   {% for tag in page.tags %}
     <meta property="og:article:tag" content="{{tag}}" >
     {% endfor %}
     {% else %}
      <meta property="og:type" content="website" >
   {% endif %}
   
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" >
<meta property="og:image" content="{{ '/assets/img/banner.jpg' | prepend: site.url }}" >


