name: Deploy
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  Deploy:
    uses: seanh/ghp-pelican/.github/workflows/github_pages.yml@main
    permissions:
      contents: read
      pages: write
      id-token: write
    with:
      settings: "publishconf.py"
      requirements: "-r requirements.txt"
      python: "3.13"
